body {
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    margin: 0;

}

.container {
    background-color: rgb(213, 236, 236);
    padding: 2vh;
    margin: 50px;

    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.795);
}

header {

    border-radius: 20px;
    margin: 15px;
    font-size: xx-large;

    display: flex;
    justify-content: center;
}


.buttons {
    background-color: rgb(178, 204, 204);
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.151);
    color: aliceblue;
}

.botao {
    background-color: rgb(146, 168, 168);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.226);
}

.btn-clear {
    background-color: rgb(226, 43, 43);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.226);
}

.material-symbols-outlined {

    display: flex;
    justify-content: flex-start;

}

.card {
    background-color: rgb(213, 236, 236);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.548);

}

.inputs {
    background-color: rgb(178, 204, 204);
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.705);
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(178, 204, 204);
    padding: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.151);
    border-radius: 20px;
    margin: 5px;
}

.input-group label {
    text-align: center;
    margin: 8px;
    background-color: rgb(136, 120, 1799);
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    color: white;
}

h2 {
    padding: 20px;
    border-radius: 10px;
    background: none;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

h3{
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    background: none;
    color: rgb(255, 255, 255);
    background-color: rgba(233, 44, 44, 0.897);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.87);
}

ul {
    list-style: none;
    padding: 13px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: large;
}

li{
    list-style: none;
    background-color: rgb(233, 44, 44, 0.897);
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.87);
}

.resultado {
    background-color: rgb(178, 204, 204);
    padding: 30px 50px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.836);
    color: rgb(0, 0, 0);
    align-items: center;
    gap: 20px;

}